name: Python package

on:
  push:
    branches:
      - main
      - bdd_externe

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          # latest python minor
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools
          pip install -r requirements_clean.txt
          pip install pylint
      - name: Lint
        run: |
          pylint src --fail-under=6
      - name: Test Python code
        run: python main.py